{% extends "publicSquare.html" %}
{% block audio %}  
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Audio ID</th>
            <th>Tags</th>
            <th>Response</th>
          </tr>
        </thead>
        <tbody>
          {%for audio in audios%}
            <tr>
            <td><button onclick="Play({{audio['audioId']}})">{{audio['audioId']}}</button></td>
            <td>{{audio['tags']}}</td>
            <td><button onclick="Response({{audio['audioId']}})">Response</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}